doctype html
html
	head
		meta(charset="utf-8")
		title= filename
		style(type="text/css")!= style
	body
		#control
			span.logo
				a(href="https://github.com/Jianru-Lin/lambda-view",target="_blank")
					|lambda-view 
					span.version= version
			span.buttons
				button#exp-all(x-t="unfold-all") Unfold All
				button#col-all(x-t="fold-all") Fold All
		#log
		#title
			h1= filename
		#content
		#vdom
		#ast
		script(type="text/javascript")!= script
		script(type="text/javascript")!= init
